@import '../../../../commonStyles/colors.scss';

.navbarRow {
    height: 42px;
    padding: 0 12px;
    align-content: center;
    cursor: pointer;

    &.selected {
        background-color: $accent;
        border-radius: 12px;
        color: $background;
    }
}