$padding: 24px;

.courseCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: min-content;
    gap: 18px;
    height: calc(100vh - 2 * #{$padding});
    padding: $padding;
    overflow: auto;
    width: 100%;
}